/*    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
    }*/
.greenLayout {
      background-color: #9be41f; /* 연두색 */
      padding: 0;
    }
.top-bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 8px 40px 2px 0;
      font-size: 12px;
      color: #333;
    }
    .top-bar a {
      color: #222;
      text-decoration: none;
      margin-left: 16px;
    }
    .top-bar a:hover {
      text-decoration: underline;
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 40px;
    }
    .logo {
      font-weight: bold;
      font-size:27px;
      display: flex;
      align-items: center;
      flex: 1;
    }
    .logo img {
      height: 32px;
      margin-right: 10px;
    }
    .menu-center-container {
      flex: 2;
      display: flex;
      justify-content: center;
    }
    .menu {
      display: flex;
      gap: 32px;
    }
    .menu a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 1px;
      padding: 2px 4px;
    }
    .menu a:hover {
      text-decoration: underline;
    }
    .search-icon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      height: 32px;
      width: 32px;
      cursor: pointer;
      margin-left: 30px;
    }
    .search-icon svg {
      fill: white;
      width: 26px;
      height: 26px;
      transition: fill 0.2s;
    }
    .search-icon:hover svg {
      fill: #4e7e07;
    }
    @media (max-width: 900px) {
      .navbar {
        flex-direction: column;
        align-items: stretch;
      }
      .menu-center-container {
        justify-content: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }