
/* 기본 바디 스타일 설정 */

html{
      height: 100%;
}



body {
  font-family: 'Nanum Gothic', sans-serif;  /* 폰트 설정 */
  margin: 0;  /* 기본 마진 제거 */
  padding: 0;  /* 기본 패딩 제거 */
  display: grid;  /* 전체 레이아웃을 그리드로 설정 */
  grid-template-columns: 1;  /* 1개의 열로 구성 */
  grid-template-rows: 1fr 2fr 5fr;  /* 헤더는 0.15, 콘텐츠는 남은 공간, 푸터는 0.1 */
  grid-template-areas:
    "nav" 
    "header"  /* 헤더 영역 */
    "content"  /* 콘텐츠 영역 */
; /* 푸터 영역 */
 /* 화면 높이를 100%로 설정 */
  background-color: #f5f5f5;  /* 배경색 설정 */
  max-height: 100vh;
  padding: 0px 30px 0 30px;
  max-width: 100%;
}


/* 콘텐츠 영역 스타일 */
.content {

  display: grid;  /* 콘텐츠를 그리드로 설정 */
  grid-template-columns: 0.35fr 0.8fr 0.35fr;
  grid-template-rows: 0.5fr 1fr 1fr; 
 
  gap: 20px;  /* 카드 간 간격 설정 */
  padding: 40px 20px;  /* 콘텐츠 영역에 상하 좌우 패딩 */
  grid-area: content;  /* 이 부분이 content 영역에 속하도록 지정 */
  /* margin: 0 auto; */
}

/* 카드 스타일 */
.card {
  background-color: white;  /* 카드 배경색 */
  border-radius: 8px;  /* 둥근 모서리 설정 */
  padding: 20px;  /* 카드 내부 패딩 */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);  /* 그림자 효과 추가 */
  text-align: center;  /* 텍스트 중앙 정렬 */
}

/* 카드 제목 스타일 */
.card h3 {
  color: #333;  /* 제목 텍스트 색상 */
}

/* 푸터 영역 스타일 */
.footer {
  background-color: #333;  /* 푸터 배경색 */
  color: white;  /* 텍스트 색상 */
  padding: 20px;  /* 푸터 내부 패딩 */
  text-align: center;  /* 텍스트 중앙 정렬 */
  grid-area: footer;  /* 이 부분이 footer 영역에 속하도록 지정 */
  height: 70%;
}

/* 버튼 스타일 */
.button {
  background-color: #98e127;  /* 버튼 배경색 */
  color: white;  /* 텍스트 색상 */
  padding: 10px 20px;  /* 버튼 내부 패딩 */
  border: none;  /* 기본 테두리 제거 */
  border-radius: 5px;  /* 둥근 모서리 설정 */
  cursor: pointer;  /* 마우스 커서를 포인터로 변경 */
}

/* 버튼에 마우스 오버 시 스타일 */
.button:hover {
  background-color: #77b81b;  /* 배경색 변경 */
}
